.btnMenuToggle {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    border: none;
}

.btnMenuToggle:hover,
.btnMenuToggle:focus {
    background-color: var(--clr-neutral-100);
}

.menuList {
    position: fixed;
    z-index: 999 !important;
    width: 18rem;
    border-radius: 1.2rem;
    box-shadow: var(--shadow);
    background-color: var(--clr-neutral-50);
    overflow: hidden;
    transform: translate(-100%);
}

.btnMenuList {
    font-size: 1.3rem;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    white-space: nowrap;
    font-weight: 400;
}

.btnMenuList:hover {
    background-color: var(--clr-neutral-100);
}

.btnMenuList img {
    max-width: 1.6rem;
    filter: saturate(0);
}
